[build]
  publish = "out"
  command = "npm run build"

[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
    Content-Type = "video/mp4"

[[redirects]]
  from = "/images/*"
  to = "/images/:splat"
  status = 200
